#y{
	text-align: center;
	padding-bottom: 5%;
}

.container{
	width: 40%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#g{
	color: black;
	/*text-shadow: 0px 2px 3px rgba(0,0,0,0.5);*/
}

#v{
	color: black;
}

	

.jumbotron{
	background: rgba(204, 204, 204, 0.5);	
	padding-right: 25%;
	padding-left: 25%;

}

body{
	background:url("https://c.pxhere.com/photos/0f/36/office_fax_phone-498904.jpg!s"); 
	background-size: cover; 
	font-family: 'Special Elite', cursive;
}

